@using Core.Utilities.Abstract;
@using Entities.Concrete;
@model List<User>
@{
    ViewData["Title"] = "GetByName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string color = "";
}
@{
    string colorStatus = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>Kullanıcılar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/style.css">

</head>
<body class="hold-transition sidebar-mini">
    @if (ViewData["Error"] != null)
    {
        <div id="errorAlert" class="alert alert-danger" role="alert">
            @ViewData["Error"].ToString();
        </div>
    }
    @if (TempData["Success"] != null)
    {
        <div id="successAlert" class="alert alert-success" role="alert">
            @TempData["Success"].ToString();
        </div>
    }

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="card">
            <div class="card-header">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="card-title">
                                Kullanıcı İşlemleri
                            </h3>
                        </div>
                        <div class="card-tools col-6 d-flex justify-content-end">
                            <!-- Form içeriği -->
                            <form action="/User/GetByName" method="get" class="d-flex">

                                <input class="form-control me-2" type="search" name="searching" placeholder="Ad" aria-label="Search">
                                <button class="btn btn-outline-success col-3" type="submit">Ara</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 10%">
                                Email
                            </th>
                            <th style="width: 10%">
                                Ad
                            </th>
                            <th style="width: 10%">
                                Soyad
                            </th>
                            <th style="width: 0%" class="text-center">
                                Rol
                            </th>
                            <th style="width: 3%">
                            </th>
                            <th style="width: 3%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    <a>
                                        @item.Email
                                    </a>
                                </td>
                                <td>
                                    <a>
                                        @item.FirstName
                                    </a>
                                </td>
                                <td>
                                    <span class="@colorStatus">@item.LastName</span>
                                </td>
                                <td class="project-state">
                                    <span class="@color">@item.RoleId</span>
                                </td>
                                <td class="project-actions text-end">
                                    <a class="btn btn-info btn-sm" href="/User/Update/@item.Id">
                                        <i class="fas fa-pencil-alt"></i>
                                        Düzenle
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-danger btn-sm" href="/User/Delete/@item.Id">
                                        <i class="fas fa-trash"></i>
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    // Hata mesajını gizleme
    setTimeout(function () {
        var errorAlert = document.getElementById('errorAlert');
        if (errorAlert) {
            errorAlert.style.display = 'none';
        }
    }, 1300);

    // Başarı mesajını gizleme
    setTimeout(function () {
        var successAlert = document.getElementById('successAlert');
        if (successAlert) {
            successAlert.style.display = 'none';
        }
    }, 1300);
</script>
</html>
datatablejs
