@model Entities.Concrete.User
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Kullanıcı Düzenleme Sayfası</h2>
@using (Html.BeginForm("Update", "User", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kullanıcı Id")
        @Html.TextBoxFor(w => w.Id, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.Label("Email")
        @Html.TextBoxFor(w => w.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.Email, null, new { @class = "text-danger" })
        <br />
        @Html.Label("Ad")
        @Html.TextBoxFor(w => w.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.FirstName)
        <br />
        @Html.Label("Soyad")
        @Html.TextBoxFor(w => w.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.LastName)
        <br />
        @Html.Label("Role Id")
        @Html.TextBoxFor(w => w.RoleId, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(w => w.RoleId)
        <br />
        <button class="btn btn-success">Değişiklikleri Uygula</button>
    </div>
}

