@model Entities.Concrete.User

@{
    ViewBag.Title = "Update";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Mvc Kamp Giriş</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <br />
    <h2>Kullanıcı Güncelleme Sayfası</h2>
    @using (Html.BeginForm("Update", "User", FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label("Id")
            @Html.TextBoxFor(c=>c.Id, new { @class = "form-control" })
            <br />
            @Html.Label("Email")
            @Html.TextBoxFor(c=>c.Email, new { @class = "form-control" })
            <br />
            @Html.Label("Ad")
            @Html.TextAreaFor(c => c.FirstName, new {@class = "form-control"})
            <br />
            @Html.Label("Soyad")
            @Html.TextAreaFor(c => c.LastName, new {@class = "form-control"})
            <br />
            <button class="btn btn-success">Güncelle</button>
        </div>
    }

</body>
</html>
